@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin:0;
    padding: 0;
}
nav{
    background-color: rgb(9, 8, 11);
   font-family: 'Ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 49px;
    color: aliceblue;
    
     
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
}
.brand{
    display: flex;
    align-items: center; 
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
   min-height: 78vh;
    background-color: black;
    color: aliceblue;
    font-family: 'Ubuntu',sans-serif;
    width: 70%;
    margin :23px auto;
    border-radius:12px;
    display: flex;
    padding: 34px;
    background-image: url('bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    }
.bottom{
    position: sticky;
    height: 80px;
    background-color: rgb(39, 39, 46);
    bottom: 0 12;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
    cursor:pointer;
}
.icons{
    color: aliceblue;
    margin-top:12px ;
    cursor: pointer;

}
.songItem{
    height: 50px;
    display: flex;
    background-color: aliceblue;
    color: black;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.songItem img{
    height: 50px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    width: 70vh;
    cursor: pointer;
    padding: 0 12px;
}

.songInfo{
    width: 12px;
    height: 9px;
    align-items: center;
    position: absolute;
    left: 10vw;
}
 #myprogressbar{
width: 90px;
text-align: center;
padding:0 12px;
cursor: pointer;

}
body{
    background-color: antiquewhite;
}